body {
	background: url(http://madebyais.com/assets/images/bg.jpg) no-repeat;
	background-size: cover;
}

.text {
	color: #fff;
	font-family: arial;
	color: #fff;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	text-align: center;
}
